body {
    background-color: #86a5a6;
    font-family: font-family: 'Lexend Deca', sans-serif;;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #27696b;
}

p {
  color: b8b894;
  font-size: 15px;
  padding: 0 20px 20px 20px;
}

.description {
    color: #f0c416;
    font-weight: bold;
}

.page-header {
    color: #27696b;
}

.carousel-item active {
    padding: 100px 100px 100px 100px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.p1 {
    align-text: justify;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}





